*{
box-sizing:border-box;
}


html,body{

margin:0;
padding:0;

width:100%;
min-height:100%;

font-family:'Segoe UI',Arial,sans-serif;

background:#f7f2f6;

}


body{

overflow-x:hidden;

}




.app{

width:100%;

}





.tela{

width:100%;

min-height:100vh;

background:#fff;

padding:20px;

padding-bottom:100px;

}





.escondida{

display:none;

}





.header{

display:flex;

align-items:center;

gap:16px;

}





.perfil{

width:85px;

height:85px;

border-radius:50%;

overflow:hidden;

flex-shrink:0;

box-shadow:
0 15px 35px #d6339a55;

}





.perfil img{

width:100%;

height:100%;

object-fit:cover;

}







.header h1{

margin:0;

font-size:28px;

}





.header p{

margin:5px 0;

color:#888;

}








.busca{


height:55px;

margin:25px 0;


border-radius:25px;


background:#fafafa;


display:flex;


align-items:center;


padding:15px;


box-shadow:

inset 0 3px 10px #0001;

}







.banner{


background:#d6339a;


padding:28px;


border-radius:30px;


box-shadow:

0 20px 45px #d6339a66;


}





.banner h1,
.banner h2,
.banner p{

color:white;

}



.banner button{


margin-top:15px;


height:52px;


padding:0 25px;


border:0;


border-radius:22px;


background:white;


color:#d6339a;


font-weight:bold;


font-size:16px;


}









h2{

margin-top:25px;

}







.cards{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:16px;


}






.servico{


height:165px;


border-radius:28px;


background:white;



display:flex;


flex-direction:column;


align-items:center;


justify-content:center;




box-shadow:

0 12px 35px #0002;


transition:.25s;


cursor:pointer;


}



.servico:active{


transform:scale(.95);


}





.servico:hover{


transform:translateY(-8px);


box-shadow:

0 25px 45px #d6339a55;


}




.servico h3{


font-size:16px;

margin:8px 0;

text-align:center;

}





.servico p{


margin:0;


font-size:18px;


font-weight:bold;


color:#d6339a;


}









nav{


position:fixed;


bottom:15px;


left:15px;


right:15px;


height:70px;


background:#d6339a;


border-radius:28px;


display:flex;


align-items:center;


justify-content:space-around;


z-index:100;



box-shadow:

0 20px 40px #d6339a66;


}







nav button{


background:none;

border:0;


color:white;


font-size:26px;


}









/* AGENDA */


.top{


display:flex;


align-items:center;


gap:15px;


margin-bottom:20px;


}



.top h2{

margin:0;

font-size:26px;

}





.btn-voltar{


height:58px;


min-width:120px;


border:0;


border-radius:22px;


background:#f7d8e8;


color:#d6339a;


font-size:18px;


font-weight:bold;



box-shadow:

0 12px 25px #0002;


}





#tituloServico{


background:#fafafa;


padding:18px;


border-radius:20px;


box-shadow:

0 10px 25px #0001;


}









.calendario{


background:#d6339a;


border-radius:30px;


padding:22px;


box-shadow:

0 20px 45px #d6339a55;


}



.calendario h2{


color:white;


}





.dias{


display:flex;


gap:12px;


overflow:auto;


}





.dias button{


min-width:65px;


height:70px;


border:0;


border-radius:22px;


background:white;


color:#d6339a;


font-weight:bold;


}






.selecionado{


transform:translateY(-8px);


box-shadow:

0 15px 30px #0003;


}





.horarios{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:15px;


margin-top:15px;


}






.horarios button{


height:65px;


border:0;


border-radius:22px;


background:#f7d8ea;


font-size:18px;


font-weight:bold;



box-shadow:

0 10px 20px #0002;


}






.ocupado{


background:#ddd!important;


color:#999!important;


}





.confirm{


margin-top:25px;


}






.resumo{


background:white;


padding:25px;


border-radius:30px;



box-shadow:


0 15px 35px #0002;



line-height:1.8;


}






.confirm input{


width:100%;


height:58px;


margin-top:12px;


border-radius:18px;


border:1px solid #ddd;


padding:15px;


font-size:16px;


}





.whatsapp{


width:100%;


height:65px;


margin-top:20px;


border:0;


border-radius:25px;


background:#25D366;


color:white;


font-size:18px;


font-weight:bold;



box-shadow:

0 18px 35px #25D36655;


}
