*{
box-sizing:border-box;
}


body{

margin:0;
font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
rgba(255,255,255,.7),
rgba(255,255,255,.9)
),
url("fundo.jpg");

background-size:cover;
background-position:center;

min-height:100vh;

padding:20px;

}



.app{

max-width:430px;
margin:auto;

}



.topo{

background:white;

border-radius:30px;

padding:30px 20px;

text-align:center;

box-shadow:
0 15px 40px rgba(0,0,0,.12);

}



.logo img{

width:90px;
height:90px;

border-radius:50%;

object-fit:cover;

}



h1{

font-size:28px;
color:#333;

}



.topo p{

color:#777;

}



.btn-principal{


width:100%;

padding:18px;

border:0;

border-radius:18px;

background:#e91e63;

color:white;

font-size:18px;

font-weight:bold;

margin-top:20px;

}





.card{


background:white;

margin-top:20px;

padding:22px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.10);


}



h2{

margin-top:0;

color:#333;

}




.servico{


display:flex;

justify-content:space-between;

align-items:center;

background:#fafafa;

padding:18px;

border-radius:18px;

margin-bottom:15px;


}



.servico button{


border:0;

background:#e91e63;

color:white;

padding:14px 20px;

border-radius:15px;

font-size:15px;

}



.horarios{


display:grid;

grid-template-columns:1fr 1fr;

gap:15px;


}



.horarios button{


height:55px;

border:0;

border-radius:18px;

background:#f7d7e3;

font-size:18px;

font-weight:bold;


}



.info{

text-align:center;

}



